@use "../abstracts/mixins" as *;

a {
  @include text-style();
}

.main-header {
  width: 100%;
  height: 54px;
  @include flex-between();
  padding-inline: 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #060606;
  z-index: 999;
}

.main-nav {
  display: flex;
  align-items: center;
}

.my_Library {
  width: 262px;
}

.my_Library li {
  height: 41px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.home_Page {
  display: flex;
  gap: 12px;
}

.home_Page li {
  height: 41px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 15px;
  cursor: pointer;
}

.home_Page li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.active {
  border-radius: 8px;
}

a {
  &:visited {
    color: purple;
  }
}

input[type="search"] {
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 5px 10px;
  @include text-style();
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

// .user-actions {
//   display: none;
// }

.user-actions ul {
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 8px;
}

.user-actions ul li a {
  width: 41px;
  height: 41px;
  @include flex-between($justify: center);
}