@use "../abstracts/mixins" as *;

.content-filter {
  height: 59px;
  width: calc(100% - 262px);
  padding-inline: 25px;
  @include flex-between;
  position: fixed;
  top: 54px;
  left: 262px;
  z-index: 998;
  background-color: #060606;
}

.content-filter ul {
  display: flex;
  gap: 31px;
}

.content-filter ul li {
  height: 35px;
}

.content-filter ul a {
  cursor: pointer;
  border-radius: 8px;
  height: 100%;
  color: #e0e0e0;
  padding-inline: 15px;
  background-color: #20202080;
  @include flex-between($justify: center);
}

.content-filter ul .active {
  background-color: #e0e0e0;
  @include flex-between($justify: center);
}

.content-filter ul .active a {
  font-weight: 700;
  @include text-style($color: #111111);
}
